.category {
  width: 100%;
  position: relative;


  &_kind {
    display: flex;
    flex-direction: row;
    gap: 10px;

    &_condition {
      flex-grow: 1;
      height: 900px;
      background-color: aquamarine;
    }

    &_recommend {
      flex-basis: 300px;
      flex-shrink: 0;
      height: 900px;
      background-color: pink;
    }
  }
}

.conditionList {
  width: 100%;
  border: 1px solid red;
  transition: all .4s ease;
  overflow: hidden;


  &_top {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.span {
  width: 100px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  background-color: #ccc;
  cursor: pointer;
}