.main {
  margin: 40px 160px;
  padding: 20px;
  box-shadow: @box-s;
}

.detail {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;

  &_show {
    width: 360px;
    box-shadow: @box-s;
    border-radius: 20px;

    &_like {
      cursor: pointer;
      margin: 4px 10px 20px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border: 1px solid red;
      transition: all .4s ease;
      border-radius: 5px;

      &:hover {
        background-color: #fff9f5;
      }

      span {
        margin-left: 12px;
      }
    }
  }


  &_content {
    flex: 1;
    margin: 0 30px;

    &_title {
      border-bottom: 1px solid #ccc;
      padding-left: 26px;
      font-size: 20px;
      line-height: 150%;
      padding-bottom: 6px;
    }

    &_tips {
      span {
        display: inline-block;
        width: 100px;
        margin: 16px 4px 4px 0;
        color: white;
        cursor: pointer;
        background-color: #ffa500;
        height: 30px;
        border-radius: 5px;
        line-height: 30px;
        text-align: center;
        transition: all .4s ease-in;

        &:hover {
          color: #000;
        }
      }
    }

    &_price {
      color: red;
      margin: 16px 0;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      padding-left: 12px;
      background-color: #fff2e8;

      span:nth-of-type(1) {
        display: inline-block;
        margin-right: 12px;
        font-size: 18px;
        color: black;
        display: inline-block;
      }

      span:nth-of-type(2) {
        font-size: 18px;
        display: inline-block;
      }
    }

    &_count {
      width: 220px;
      display: flex;
      flex-direction: row;
      justify-content: start;
    }

    &_size {
      display: flex;
      flex-direction: row;
      justify-content: start;
    }

    &_address {
      display: flex;
      flex-direction: row;
      justify-content: start;
    }

    &_btns {
      display: flex;
      flex-direction: row;
      justify-content: start;
      height: 40px;
      margin: 8px 20px;

      button:nth-of-type(1) {
        cursor: pointer;
        height: 100%;
        color: red;
        padding: 0 30px;
        text-align: center;
        background-color: #ffe4d0;
        border: none;
        margin-right: 10px;
        transition: all .4s ease;

        &:hover {
          background-color: #ebac7e;
          color: white;
        }
      }


      button:nth-of-type(2) {
        cursor: pointer;
        height: 100%;
        padding: 0 30px;
        text-align: center;
        color: white;
        border: none;
        background-color: #ff4400;
        transition: all .4s ease;

        &:hover {
          background-color: #fac5c5;
          color: rgb(215, 39, 39);
        }
      }
    }
  }
}

.label {
  margin: 4px 0;
  border: 1px solid transparent;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}